#mainmenu {
    background-image: url(dot-grid-with-vinyl-left.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: opacity 0.4s ease-out, transform 0.3s ease-out;
}

.menubutton {
    width: clamp(10rem, 20vw, 30rem);
    aspect-ratio: 2.5;
    background-image: linear-gradient(45deg, #111, #555);
    border: 0;
    border-radius: 1dvh;
    font-size: clamp(1rem, 3vw, 20rem);
    font-weight: 700;
    transition: background-image 0.2s;
}

.menudiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.menubutton:hover {
    background-image: linear-gradient(45deg, #000, #333);
}

#logocontainer {
    height: 60%;
}

#logo {
    height: 70%;
}

#menubuttons {
    height: 30%;
}

#additonalbuttons {
    height: 10%;
}

#iconbutton {
    height: 70%;
    aspect-ratio: 1;
    border-radius: 100rem;
    overflow: hidden;
    justify-content: flex-end;
}

#iconbutton:hover {
    background-color: #0008;
}

#mainmenu.hide {
    transform: scale(3);
}

.back {
    height: min(4rem,15vmin);
    aspect-ratio: 1;
    border-radius: 100%;
    overflow: hidden;
    margin: 1rem;
    border: 0;
    background-color: #0000;
    transition: background-color 0.1s;
}

.back:hover {
    background-color: #8886;
}

#mainmenu.hide > #menubuttons > .menubutton {
    display: none;
}